<!-- Modal -->
<div class="modal fade" id="modalFormEditarPermisos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Permisos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- formularios -->
          <div class="tile">
              <div class="tile-body">

                
                  
                <form id="formRol" name="formRol">
                  <table id="a" class="table ">
                    <thead>
                    <tr>
                      <th> # </th>
                      <th>Módulo</th>
                      <th>Ver</th>
                      <th>Crear</th>
                      <th>Actualizar</th>
                      <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Sistema</td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch11">
                              <label class="custom-control-label" for="customSwitch11"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch12">
                              <label class="custom-control-label" for="customSwitch12"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch13">
                              <label class="custom-control-label" for="customSwitch13"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch14">
                              <label class="custom-control-label" for="customSwitch14"></label>
                            </div>
                          </div>
                          
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Tablas Referenciales</td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch21">
                              <label class="custom-control-label" for="customSwitch21"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch22">
                              <label class="custom-control-label" for="customSwitch22"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch23">
                              <label class="custom-control-label" for="customSwitch23"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch24">
                              <label class="custom-control-label" for="customSwitch24"></label>
                            </div>
                          </div>
                          
                        </td>
                      </tr>

                      <tr>
                        <td>3</td>
                        <td>Informes</td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch31">
                              <label class="custom-control-label" for="customSwitch31"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch32">
                              <label class="custom-control-label" for="customSwitch32"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch33">
                              <label class="custom-control-label" for="customSwitch33"></label>
                            </div>
                          </div>
                          
                        </td>
                        <td>
                          <div class="form-group">
                            <div class=" col-1 custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch34">
                              <label class="custom-control-label" for="customSwitch34"></label>
                            </div>
                          </div>
                          
                        </td>
                      </tr>
                      


                    </tbody>
                </table>
                  
                 <br>
                  <!-- botones -->  
                  <div class="tile-footer d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>&nbsp;&nbsp;&nbsp;
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar
                    </button>
                  </div>
                </form>
              </div>
              
            </div>
  
        </div>
  
      </div>
    </div>
  </div>