<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div>
      <h1>&nbsp;&nbsp;<i class="fa fa fa-users"></i> Puestos &nbsp;
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalFormNuevoPersona"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo</button>

      </h1>
      <br>
      
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">


          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Datos de los Puestos</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID Puesto</th>
                  <th>Descripcion</th>
                  <th>Experiencia Requerida:</th>
                  <th>Habilidad Principal</th>
                  <th class="not-export-column">Acciones</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td>452</td>
                    <td>Control y Estado de las maquinas</td>
                    <td>Mantenimiento</td>
                    <td>Robotica</td>
                    <td class="col-1"> 
                      <div>
                        <!-- <button class="btn btn-secondary btn-xs btnPermisosRol" rl="'1'" title="Permisos" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-unlock-alt"></i></button> -->
                        <button class="btn btn-primary btn-xs btnEditRol" rl="'1'" title="Editar" type="button" data-toggle="modal" data-target="#modalFormActualizarPersona"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btnDelRol" rl="'1'" title="Eliminar"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
                  </tr>
  
                </tbody>
                <tfoot>
                <tr>
                    <th>ID Puesto</th>
                    <th>Descripcion</th>
                    <th>Experiencia Requerida:</th>
                    <th>Habilidad Principal</th>
                    <th>Acciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>