       <!-- Content Header (Page header) -->
       <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Bienvenido</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">DataTables</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-12">
          

          <div class="card card-primary">
            
            <!-- /.card-header -->
            <div class="card-body">

              <div class="row mt-12">

                <div class="col-sm-12">
                  <form [formGroup]="MostrarGrafico" (ngSubmit)="onSubmit($event)">  
                    <button type="submit" name="bar"> Bar</button>   
                    <button type="submit" name="area"> Area </button> 
                    <button type="submit" name="pie"> Pie</button>   
                    <button type="submit" name="radar"> Radar </button> 
                  </form>
                </div>

              </div>


              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="card card-primary">
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row mt-12">
              <div class="col-sm-12">
                
                <app-bar-chart  [hidden]="!submitted1" [messagebar]="messageBar1"></app-bar-chart>
                <app-polar-area-chart [hidden]="!submitted2" [messagepolar]="messagePolar2"></app-polar-area-chart>
                <app-pie-chart [hidden]="!submitted3" [messagepie]="messagePie3"></app-pie-chart>
                <app-radar-chart [hidden]="!submitted4" [messageradar]="messageRadar4"></app-radar-chart>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
 